.header{
     background-color: transparent;
     height: 200px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
img{
     height: 200px;
}
button{
     height: 30px;
}
/* .bib{
     display: flex;
     justify-content: space-between;
     background-color: red;
     align-items: center;
} */