*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
    width: 100%;
}
.sidebar{
    border-top-right-radius:50px ;
    background: #3586ff;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    border-radius: 10px;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    border-radius: 10px;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
.sidebar{
    width: 200;
}
.logo{
    display: block;
}
.bars{
    margin-left: 70px;
}
.link_text{
    display: block;
}
@media screen and ( max-width: 570px) {
    .sidebar{
        width: 50px;
<<<<<<< HEAD
        border-top-right-radius:30px ;

=======
>>>>>>> 37591ed720a51a3cecd32fe076e573b7d7778234
    }
    .logo{
        display: none;
    }
    .bars{
        margin-left: 0px;
    }
    .link_text{
        display: none;
    }
  }